@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

* {
    --betta-color: #8B3CE6;
    --orca-color: #001D30;
    margin: 0;
    box-sizing: border-box;
    background: #EDF0F1;
}
body {
    overflow-y: scroll;
}

.container {
    min-height: 100vh;
    display: flex;
}

.left {
    width: 49vw;
    padding: 6.6% 8% 4%;
}

.mobile-pic {
    display: none;
}

.mobile-image {
    width: 100%;
    height: auto;
}

.full-image {
    width: 100%;
    height: auto;
}

.right {
    width: 51vw;
}

h5 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 600;
    font-size: .93rem; /* font-size 15px */
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 0em;
    margin-bottom: 11px;

    /* Betta */
    color: var(--betta-color);
}

h3 {
    font-family: IBM Plex Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 11px;
    /* or 41px */

    /* Orca */
    color: var(--orca-color);
}

p {
    font-family: IBM Plex Sans;
    font-size: 1.05rem; /* font-size 17px */
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;    
    
    /* Orca */
    color: var(--orca-color);
}

/* Hides checkboxes used for accordians */
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

/* Makes entire line clickable for the accordian */
label {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

/* Hides description text until you click the accordian. */
.tab-content {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all .35s;
}

.top-p {
    margin-bottom: 50px;
}

/* I had to change the border pixels slightly because
 one of the hr's was acting weird and this fixed it*/
hr {
    border: .8px solid #CFD4D9;
    margin-bottom: 24px;
}

.top-hr {
    margin-bottom: 21px;
}

h4 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 146.28%;
    margin-bottom: 25px;

    /* Orca */
    color: var(--orca-color);
}

/* Arrows */
h4 span {
    float: right;
    margin-right: 20px;
}

/* Transition for arrows */
h4 span img {
    transition: all .35s;
}

.feedback {
    margin-bottom: 28px;
}

h6 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 146.28%;
    margin-bottom: 4px;

    /* Betta */
    color: var(--betta-color);
}

.bottom-p {
    margin-bottom: 20px;
}

button {
    align-items: center;
    text-align: center;
    margin-bottom: 23px;
    margin-left: 1px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 124px;
    height: 31px;
    transition: .3s ease;

    /* Betta */
    background: var(--betta-color);
    border-radius: 100px;
    border: none;

    /* Text in button */
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 124%;
    /* identical to box height, or 19px */

    /* Albatross */
    color: #FFFFFF;
}

/* Hide arrow in button until hover */
button::before {
    content: url(assets/Arrow-right.svg);
    position: absolute;
    transform: translate3d(-2.5rem,2.5rem,0);
    transition: .3s ease;
}

/* Reveal arrow on hover */
button:hover::before {
    transform: translate3d(-1.1rem, .1rem, 0);
    margin-left: 0px;
}

button:hover {
    padding-left: 22px;
}

/* Rotate Subsequent-sibling Combinator arrow when accordian is clicked */
input:checked ~ h4 label span img{
    transform: rotate(180deg);
}

/* Reveal Subsequent-sibling Combinator description text on click */
input:checked ~ .tab-content {
    max-height: 100vh;
    visibility: visible;
}


/* Media query for medium size screen */
@media screen and (max-width: 1000px) and (min-width: 700px) {
    p, h5 {
        font-size: .9em;
    }
    h3 {
        font-size: 20px;
        line-height: 25px;
    }
    h4 {
        font-size: 14px;
        line-height: 100%;
    }
    .top-p {
        margin-bottom: 30px;
    }
    .left {
        padding: 4% 6% 3%;
    }
}


/* Media query for mobile version */
@media screen and (max-width: 700px) {
    .container {
        display: block;
    }

    .mobile-pic {
        display: block;
    }

    .right {
        display: none;
    }

    .left {
        margin-top: 4px;
        padding-left: 43px;
        padding-right: 43px;
        width: 100%;
    }
    
    h4 span {
        margin-right: 10px;
    }

    h5 {
        margin-top: 19px;
    }

    .bottom-hr {
        margin-bottom: 65px;
    }
}